.buttonBack {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 12px;
    margin: 0 -12px;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.14px;
    color: var(--color-primary);

    svg path {
        fill: currentColor;
    }

    &:hover {
        color: var(--color-primary-hover);
    }
}
